<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments.html :: head"></head>
<link rel="stylesheet" href="/css/login.css" />

<body>
	<div id="wrap">
		<section class="head">
			<a href="#" th:href="@{/}">
				<img src="images/login/logo_logo.png" />
			</a>
		</section>
		<div class="login">
			<div class="login_container">
				<h2 class="login_title">비밀번호 찾기</h2>
				<div class="login_inner">
					<form class="login_form needs-validation" action="#" th:action="@{/find-password}"
						method="post" novalidate>
						<div class="form_content">																				
							<input type="email" id="email" name="email" class="form-control" placeholder="가입하신 이메일 주소를 입력해주세요." aria-describedby="emailHelp" required>
							<small id="emailHelp" class="form-text">
                        		가입시 사용한 이메일을 입력하시면 비밀번호 재설정을 위한 링크를 보내드립니다.
                    		</small>
                    		<small class="invalid-feedback">이메일을 입력하세요.</small>
						</div>

		
						<button type="submit" class="login_btn">비밀번호 재설정</button>
					</form>
				</div>
			</div>
		</div>
	</div>
	
	<script th:replace="fragments.html :: form-validation"></script>
</body>
</html>