<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments.html :: head"></head>
<link rel="stylesheet" href="/css/login.css" />

<body>
	<div id="wrap">
		<section class="head">
			<a href="#" th:href="@{/}">
				<img src="images/login/logo_logo.png" />
			</a>
		</section>
		<div th:if="${error}">
			<div th:text="${error}"></div>
		</div>
		
		<div class="login" th:if="${error == null}">
			<div class="login_container">
				<h2 class="login_title">비밀번호 변경</h2>
				<div class="login_inner">
					<form class="login_form needs-validation" action="#" th:action="@{/reset-password}"
						th:object="${resetPasswordForm}" method="post" novalidate>
				  		<input type="hidden" name="email" th:value="${email}" />
				  		<input type="hidden" name="token" th:value="${token}" /> 
						<div class="form_content">																				
							<input type="password" id="resetPassword" class="form-control" placeholder="새 비밀번호"
								th:field="*{resetPassword}" aria-describedby="resetPasswordHelp" required>
							<small id="resetPasswordHelp" class="form-text">
                        		비밀번호는 8자 이상, 50자 이내로 입력하세요.
                    		</small>
                    		<small class="invalid-feedback">비밀번호를 입력하세요.</small>
						</div>
						<div class="form_content">
							<div class="input_title">새 비밀번호 확인</div>	
							<input type="password" id="resetPasswordCheck" class="form-control" placeholder="새 비밀번호 확인"
								th:field="*{resetPasswordCheck}" aria-describedby="resetPasswordCheckHelp" required>															
							<small id="resetPasswordCheckHelp" class="form-text">
                        		비밀번호는 8자 이상, 50자 이내로 입력하세요.
                    		</small>
							<small class="invalid-feedback">비밀번호를 입력하세요.</small>
						</div>
						
												
						<button type="submit" class="login_btn">비밀번호 변경</button>
						
					</form>
				</div>
			</div>
		</div>
	</div>
	
	<script th:replace="fragments.html :: form-validation"></script>
</body>
</html>